@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap');

:root {
  --shadow: #78739b44;
}

@keyframes clickButton {
  0% { transform: scale(1) }
  75% { transform: scale(1.3) }
  90% { transform: scale(1.25) }
  100% { transform: scale(1) }
}

html, body, #root, .App {
  min-height: 100vh;
}

body {
  min-height: 100%;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f8;
  color: #313038;
  font-size: 14px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #56526b;
}

a:link, a:visited {
  text-decoration: none;
  color: #4e7cc0;
}

textarea:focus, input:focus {
  outline: none;
}

.error {
  display: flex;
  align-items: center;
  gap: 2%;
  background-color: #fcd5d8;
  color: #da5380;
  border-radius: 5px;
  border: 1px solid #da5380;
  padding: 3%;
}

header {
  flex: 0 1 10%;
  padding: 1% 1%;
  background-color: #fff;
  box-shadow: 0px 2px 3px var(--shadow);
}

#header-content {
  margin-left: 2%;
  display: flex;
  align-items: center;
}

#header-icon {
  color: #689bd6;
}

.page {
  flex: 1 0 80%;
}

header h1 {
  font-weight: 800;
}

.textbox-container {
  margin: 5% 0%;
}

.textbox-container.default {
  display: block;
  width: 98%;
}

.textbox-container.inline {
  display: inline;
  width: auto;
}

label {
  font-size: 0.9rem;
}

label.default {
  display: block;
  margin-bottom: 1%;
}

label.inline {
  display: inline;
  margin-right: 1%;
}

.textbox-container .textbox {
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #d4d3db;
  color: #6a6583;
}

.textbox-container .textbox.default {
  display: block;
  width: 96%;
}

.textbox-container .textbox.inline {
  display: inline;
  width: auto;
}

.button {
  padding: 2% 1%;
  width: 100%;
  border: none;
  background-color: #4e7cc0;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.select-container .select-icon-container {
  width: 100%;
}

.select-container .select-icon-container.with-icon {
  display: flex;
  align-items: center;
}

.select-container .select-icon-container .dropdown {
  width: 100%;
  padding: 3%;
  border: 1px solid #d4d3db;
  color: #6a6583;
  background-color: #fff;
  border-radius: 5px;
}

.select-container .select-icon-container.with-icon .dropdown {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}

.select-container .select-icon-container .select-icon {
  flex: 0 1 5%;
  cursor: pointer;
  background-color: #4e7cc0;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  padding: 0.5%;
}

#main-header .dropdown {
  padding: 0.5%;
}

#login-container {
  margin: auto;
  margin-top: 5%;
  background: #fff;
  width: 25%;
  border-radius: 10px;
  padding: 2% 4%;
  box-shadow: 1px 1px 3px var(--shadow);
  font-size: 1.1rem;
}

#login-form {
  margin-bottom: 2%;
}

#container {
  position: relative;
  margin: auto;
  width: 87%;
  display: flex;
  flex-flow: row nowrap;
}

#match-button {
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  width: 10vw;
  height: 10vw;
  border-radius: 50% 0 0 50%;
  box-shadow: -2px 3px 2px var(--shadow);
  background-color: #4e7cc0;
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.2s, visibility 0.3s;
}

#match-button:hover {
  transform: scale(1.1);
}

#match-button.visible {
  display: flex;
  visibility: visible;
}

#match-button.hidden {
  display: none;
  visibility: hidden;
}

#filter-menu {
  position: sticky;
  height: 70vh;
  flex: 0 1 17%;
  background-color: #fff;
  margin-top: 2%;
  top: 2%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--shadow);
}

#filter-menu h2 {
  font-size: 1.7rem;
}

#filter-menu #filter-content {
  margin-top: 2vh;
  overflow-y: auto;
}

#filter-menu .filter-option {
  margin-bottom: 2vh;
}

#filter-menu .filter-pill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4% 0%;
  padding: 3% 8%;
  background-color: #cce0f7;
  border: 1px solid #4e7cc0;
  color: #4e7cc0;
  border-radius: 20px;
}

.filter-pill-x {
  cursor: pointer;
}

#age-range {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#age-range .textbox-container {
  width: 35%;
}

#age-range .textbox-container .textbox {
  width: 100%;
  padding: 10% 5%;
}

.age-input {
  display: flex;
  align-items: center;
}

#main-content {
  flex: 1 0 80%;
  max-width: 83%;
  padding: 2%;
}

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

#main-title {
  flex-basis: 50%;
  font-size: 2rem;
}

#main-header .select-container {
  flex-basis: 50%;
}

#main-header label, #main-header .dropdown {
  font-size: 1.1rem;
}

#puppy-grid {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 2%;
}

#puppy-grid .puppy-tile {
  position: relative;
  width: 23%;
  margin-bottom: 2%;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  box-shadow: 2px 2px 3px var(--shadow);
  border-radius: 10px;
}

#puppy-grid .puppy-info-location {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 10%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffffee;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 3px var(--shadow);
  padding: 3%;
  font-weight: 600;
}

#puppy-grid .puppy-tile-img {
  height: 250px;
}

#puppy-grid .puppy-tile-img img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 5px 5px 2px 2px;
}

.puppy-tile-info {
  width: 92%;
  margin-top: 2%;
  padding: 4%;
}

.puppy-tile-info-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.puppy-tile-info h3 {
  font-size: 1.7rem;
  flex-basis: 20%;
}

.puppy-tile-star {
  cursor: pointer;
  transition: transform 0.3s, color 0.1s;
}

.puppy-tile-star.default {
  color: #afa9ce;
}

.puppy-tile-star.selected {
  color: #4e7cc0;
  animation: clickButton 0.3s linear 0s 1 forwards;
}

.puppy-info-basic {
  display: flex;
  gap: 2%;
}

.puppy-tile-info-sec {
  display: flex;
  align-items: center;
  gap: 3%;
  width: 98%;
  border-radius: 20px;
  border: 1px solid #d8d4eb;
  margin: 3% 0%;
  padding: 1%;
}

.puppy-info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #7da7d8;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  padding: 2px;
}

.pagination {
  width: 90%;
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination .pagination-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  background: #4e7cc0;
  color: #fff;
  width: 15%;
  border-radius: 5px;
  font-size: 1.2rem;
  user-select: none;
}

.pagination .pagination-button.hidden {
  visibility: hidden;
}

.pagination .pagination-button.visible {
  visibility: visible;
  cursor: pointer;
}

.pagination .pagination-button.next {
  align-self: flex-end;
  padding: 0.5% 1% 0.5% 2%;
}

.pagination .pagination-button.prev {
  align-self: flex-start;
  padding: 0.5% 2% 0.5% 1%;
}

#footer {
  flex: 0 1 10%;
  align-self: flex-end;
  width: 94%;
  bottom: 0;
  margin-top: 2%;
  font-size: 0.8rem;
  background-color: #e5e3f3;
  color: #9189b8;
  padding: 1% 3% 3% 3%;
}

#match-container {
  position: relative;
  margin: auto;
  width: 80%;
  padding: 1%;
}

#match-heart {
  position: fixed;
  bottom: 20%;
  right: 10%;
  color: #d8d4ec;
  transform: rotate(30deg);
  z-index: -3;
}

#match-header h2 {
  font-size: 1.8rem;
}

#match-info {
  margin: 2%;
  display: flex;
  gap: 3%;
}

#match-img {
  width: 20vw;
  height: 52vh;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--shadow);
}

#match-buttons {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2% 0%;
}

.match-button {
  flex-basis: 45%;
}

#match-summary {
  flex-grow: 1;
  font-size: 1.5rem;
}

.match-point {
  margin: 2% 0%;
  width: 75%;
  display: flex;
  gap: 5%;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 3px var(--shadow);
  padding: 10px;
  transition: transform 0.2s;
}

.match-point:hover {
  transform: scale(1.05);
}

@keyframes wiggle {
  0% { transform: rotate(0deg) }
  33% { transform: rotate(45deg) }
  67% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}

.match-point:hover .match-point-icon {
  animation: wiggle 0.2s linear 0.1s 1 alternate;
}

.match-point-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4e7cc0;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.2s;
}

@media screen and (max-width: 768px) {
  #login-container {
    margin-top: 10%;
    width: 85%;
  }

  #container {
    display: block;
  }

  #filter-menu {
    height: 10vh;
  }

  #main-content {
    width: 100%;
    max-width: 100%;
  }

  #puppy-grid {
    display: block;
  }

  #main-header {
    display: block;
  }

  #puppy-grid .puppy-tile {
    width: 100%;
    margin: 10% auto;
  }

  .pagination {
    width: 100%;
    margin: 10% auto;
    gap: 5%;
  }

  .pagination .pagination-button {
    width: 40%;
    padding: 3% 5%;
  }
}
